@import "_variables";

.container {
  width: 960px;
  margin: 0 auto;
}

section .container {
  padding: 50px 0;
}

.work {
  background-color: #eee;

  h2 {
    margin-bottom: 0.5em;
  }

  a {
    width: 48%;
    float: left;
    font-size: 0;
    padding: 5px;
    margin-top: 4%;
    display: inline-block;
    box-sizing: border-box;
    background-color: $shade-dark;

    &:hover {
      background-color: $highlight;
    }

    &:nth-child(2n) {
      margin-right: 4%;
    }
  }
}

.modal {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: none;
  overflow: auto;
  position: fixed;
  transition: opacity 1s ease 0s;
  background-color: rgba(0,0,0,0.7);

  h3 {
    margin: 0;
  }

  h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  p {
    margin-top: 0.25rem;
  }

  ul {
    margin-bottom: 0;
  }

  span {
    font-size: 0;
    margin: auto;
    padding: 3px;
    display: block;
    overflow: hidden;
    max-width: 960px;
    background: #333;
    margin-top: 50px;
  }
}

.modal-body {
  padding: 50px;
  max-width: 860px;
  margin: 50px auto;
  background-color: #eee;
}

.close {
  top: 20px;
  right: 20px;
  color: white;
  position: fixed;
  font-size: 40px;
  line-height: 20px;
  text-decoration: none;

  &:hover {
    color: yellow;
  }
}

.overflow-hidden {
  overflow: hidden;
}
